*{
  box-sizing: border-box;
  margin: 0;
}

.l1 {
  width: 10%;
  height: 95px;
  border: black thin solid;
  float: left;
}


@media screen and (max-width: 880px) {
  .l1 {
    width: 25%;
    background-color: lightgreen;
  }
}
